
    <nav>
      <p>Categories</p>
      <li><a href="https://weather.com/en-AU/weather/today/l/ASXX0023:1:AS?Goto=Redirected">Weather</a></li>
      <li><a href="https://botland.store/digital-temperature-sensors/17383-digital-temperature-and-humidity-sensor-dht11-waveshare-9535-5904422345808.html">Data</a></li>
    </nav>
    <article>
      <h2>The Best IoT Weather App</h2>
      <img src="assets/umbrella-rabbit.jpg" width="75px" alt="article banner">
    </article>
    <aside>
      <ul>
        <li>
          <p><strong>Weather Now</strong></p>
        </li>
        <li>
          <!-- <p>Time: <span id="time2"><%= obj.updateTime %></span><br /></p> -->
          <p>Temperature: <%= obj.temperature %>&deg;<br /></p>
          <p>Humidity: <%= obj.humidity %>&percnt;<br /></p>
        </li>
        <li>
          <p><strong>Sensor Info:</strong></p>
        </li>
        <li>
          <p>Sensor: <%= obj.sensName %> <br /></p>
          <p>Id: <%= obj.id %> <br /></p> 
          <p>Hardware: <%= obj.hardware %> <br /></p> 
          <p>Location: <%= obj.location %><br /></p>
        </li>
        <li>
          <p><strong>Written by:</strong></p>
          <p>Space Bunny</p>
        </li>
      </ul>
    </aside>

