
    <nav>
      <p>Categories</p>
      <li>Weather</li>
      <li>Data</li>
    </nav>
    <article>
      <h2>The Best IoT Weather App</h2>
      <img src="assets/yellow-umbrella.png" width="75px" alt="article banner">
    </article>
    <aside>
      <ul>
        <li>
          <p><strong>Weather Now</strong></p>
        </li>
        <li>
          <p>Sensor: <%= obj.sensName %> <br /></p>
          <p>Id: <%= obj.id %> <br /></p> 
          <p>Hardware: <%= obj.hardware %> <br /></p> 
          <p>Location: <%= obj.location %><br /></p>
          <!-- <p>Time: <span id="time2"><%= obj.updateTime %></span><br /></p> -->
          <p>Temperature: <%= obj.temperature %></span>&deg;<br /></p>
        </li>
        <li>
          <p><strong>Writted by:</strong></p>
          <p>Mario</p>
        </li>
      </ul>
    </aside>

